html {
    /*overflow: hidden;
    /*height: 100%;
    background: #333;*/
}

@-webkit-keyframes LinderFadeII {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

body {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation: LinderFadeII 1s 1;
    background: #0097d4;
    margin: 0;
    padding: 10px;
    color: black;
}

a:link, a:visited, a:hover {
    color: black;
}

a:active {
    color: red;
}

header {
    position:relative;
    float: left;
/* margin-left: -50px;*/
}

h1 {
    position: absolute;
    top: 6px;
    left: 0;
    width: 400px;
    text-align: right;
    height: 400px;
    font-size: 36px;
    margin: 10px 0 4px 0;
	color:#df96df;
	background: transparent;
	z-index:-500;
    text-shadow: #000 1px 1px 5px;
/*    background-color:yellow;*/
    transform:rotate(-90deg);
    -ms-transform:rotate(-90deg); /* IE 9 */
    -moz-transform:rotate(-90deg); /* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari and Chrome */
    -o-transform:rotate(-90deg); /* Opera */
}

#gameboard {
    background: white;
}

#textdisplay {
    border-radius: 5px;
    width: 500px;
    margin: 8px auto 10px auto;
    padding: 3px 20px;
    color: #EEE;
    background: black;
    text-align: center;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: top 2.25s ease-in;
}

#infotext {
    font-size: 24px;
    margin: 6px 0;
}

#stats {
    
    margin: 6px 0;
    
}

#paircounter_1 {
    margin-right: 30px;
}

nav {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 10px;
    text-align: right;
    margin: 10px auto 0 auto;
    
}

#options {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0);
    /* RGBa with 0.9 opacity */
    background: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0px;
}

#options p {
    margin: 0 0 20px 0;
}

#options .close {
    
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: 200px;
    margin-left: -100px; /* Half the height */
    
}

#options a:link, #options a:visited, #options a:hover, #about a:link, #about a:visited, #about a:hover {
    color: #98ff9f;
}

#about {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0);
    /* RGBa with 0.9 opacity */
    background: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0px;
}

#about p {
    margin: 0 0 20px 0;
}

#about .close {
    
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: 200px;
    margin-left: -100px; /* Half the height */
    
}

.onclicklink {
    color: #98ff9f;
    cursor: pointer;
}

.onclicklink  a {
    display: block;
}

footer {
    display:none;
}

.onclicklink {
    color: #98ff9f;
    cursor: pointer;
}

table {
	margin: 0 auto;
	padding: 0;
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	text-align: center;
	padding: 0px;
	margin: 0;
    border: 4px solid transparent;
}

tr {
	padding: 0px;
}

.kort, .cardbackside {
    display: block;
    margin: 0px;
}
.flip-container, .kort, .cardbackside {
	width: 150px;
	height: 150px;
}

.cardbackside:hover {
	background: url(../cardback_hover.svg);
}